Dear $fname $lname,

We are happy to inform you that you $cardType card $cardNumber is now active. Your card will expire on $expiryDt. Your total spending limit is set at $cardLimit.

Thank you for banking with us.

Regards
Relationship Manager

