Dear $fname $lname,

Amount $amount has been paid from your credit card number $accountNumber to $reference on $transactionDt at $location.

Thank you for banking with us.

Regards
Relationship Manager

