Dear $fname $lname,

Your loan Account $accountNumber is closed due to $reason as of date $closingDt.

For any further clarifications please get in touch with your Relationship manager or branch.

Regards
Relationship Manager

